body {
    font-family: "OCR A Std";
    background-color: dimgray;
    color: azure;
}

#reroll-div {
    text-align: center;
}

#reroll {
    background-color: #fcce00;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.15s;
}

#reroll:hover {
    background-color: #ffda33;
    color: dimgray;
}

#reroll:active {
    background-color: #3e8e41;
    color: white;
    box-shadow: 0 5px rgb(77, 77, 77);
    transform: translateY(4px);
}

.can-reroll {
    transition-duration: 0.15s;
}

.can-reroll:hover {
    background-color: goldenrod;
}

.can-reroll:active {
    background-color: rgb(168, 130, 35);
}